html {
  height: 100%;
}

html, body {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

#wrapper {
  max-width: 640px;
  position: relative;
  margin: auto;
}

.player-button {
  display: inline-block;
  background: url('/img/icons-medium.png');
  background-repeat: no-repeat;
  /*background-position-y: 0;*/
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 5px;
}

.player-button:hover {
  /*background-position-y: -60px;*/
}

.teaser-button {
  width:50px;
  height:50px;
}

.current-video {
  background-color: rgb(60,60,60);
}

.player-button.previous {
  background-position: -120px 0;
}

.player-button.previous:hover {
  background-position: -120px -60px;
}

.player-button.next {
  background-position: -180px 0;
}

.player-button.next:hover {
  background-position: -180px -60;
}

.player-button.play {
  background-position: 4px 0;
}

.player-button.play:hover {
  background-position: 4px -60px;
}

.player-button.pause {
  background-position: -60px 0;
  /*background-color:black;*/
}

.player-button.pause:hover {
  background-position: -60px -60px;
}

.player-button.save {
  background-position: -240px 0;
}

.player-button.save:hover {
  background-position: -240px -60px;
}

#player-progress-bar {
  width: 100%;
  height: 20px;
  background-color: #eee;
  position: relative;
}

.player-progress {
  background-color: #ff5d15;
  z-index: 2;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.player-time.current.progress-hover {
  color: #ff5d15;
}

.player-time-wrap {
  width: 100%;
  position: absolute;
}

.player-time {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
}

.player-time.total {
  float: right;
}

.player-buffer {
  background-color: #ccc;
  z-index: 1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#queue {
  width: 100%;
  margin-bottom: 10px;
  background-color: #fafafa;
  border-bottom: 10px solid rgb(40,40,40);
}

.queue-item {
  height: 40px;
  cursor: move;
  padding-right: 120px;
  padding-left: 15px;
  position: relative;
}

.current-video .queue-item-title {
  color: #ff5d15;
  font-size: 16px;
}

.queue-item-title {
  line-height: 40px;
  cursor: pointer;
  color: rgb(40,40,40);
  margin: 0;
  vertical-align: top;
  display: inline-block;
}

.teaser-button-wrap, .queue-button-wrap {
  position: absolute;
  height: 40px;
  right: 0;
}

.queue-button-wrap {
  top: 0;
}

.teaser-button-wrap {
  bottom: 0px;
  background-color: rgba(0,0,0,.7);
}

.queue-button, .teaser-button {
  display: inline-block;
  background: url('/img/icons-small.png');
  background-repeat: no-repeat;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.queue-button.remove, .teaser-button.remove {
  background-position: -150px 0;
}

.queue-button.remove:hover, .teaser-button.remove:hover {
  background-position: -150px -30px;
}

.queue-button.play, .teaser-button.play {
  background-position: 2px 0;
}

.queue-button.play:hover, .teaser-button.play:hover {
  background-position: 2px -30px;
}

.teaser-button.add {
  background-position: -210px 0;
}

.teaser-button.add:hover {
  background-position: -210px -30px;
}

.queue-button.set-index {
  background-position: -180px 0;
}

.queue-button.set-index:hover {
  background-position: -180px -30px;
}


.video-teaser {
  width: 300px;
  position: relative;
  margin: 10px;
  float: left;
  height: 166px;
  background-position: 0 -30px;
  background-size: 100%;
}

.video-teaser-title {
  color: #EEE;
  margin: 0px;
  padding: 5px;
  background-color: rgba(0,0,0,0.7);
}

.search-bar {
  padding-left: 10px;
  font-size: 20px;
  display: inline-block;
  width: 520px;
  height: 44px;
  border: 1px solid #ccc;
  background-color: #eee;
}

.search-bar:focus {
  outline: 0;
  background-color: #F5F5F5;
}

.search-suggestions {
  margin: 0;
  position: absolute;
  padding: 5px;
  list-style: none;
  font-size: 16px;
  background-color: #F8F8F8;
  width: 508px;
  border: 1px solid #ccc;
  border-top: none;
}

.search-results-index {
  text-align: center;
  margin: 0;
}

.search-suggestions li {
  padding: 2px;
  cursor: pointer;
}

.search-suggestions li:hover {
  color: #ff5d15;
}

.search-bar-button {
  cursor: pointer;
  width: 120px;
  display: inline-block;
  background-color: #ff5d15;;
  font-size: 18px;
  font-weight: bold;
  color: #111;
  height: 44px;
  border: none;
  vertical-align: top;
}

.queue-title-wrap{
  width: 100%;
  height: 60px;
  background-color: rgb(40,40,40);
  color: #ff5d15;
  position: relative;
  border-bottom: solid 2px #ff5d15;
}

.queue-title {
  display: inline-block;
  font-size: 30px;
  line-height: 60px;
  margin: 0;
  padding-left: 15px;
}

.player-button.save {
  margin: 0;
  position: absolute;
  right: 0;
}

.player-button-wrap {
  width: 210px;
  margin: auto;
}

#app-title, #app-title:visited, #app-title:hover, #app-title:active {
  width: 135px;
  height: 45px;
  margin: auto;
  font-size: 30px;
  display: block;
  text-decoration: none;
  line-height: 45px;
  text-align: center;
  color: #ff5d15;
  font-weight: bold;
}

#about a, #about a:visited {
  text-decoration: none;
  color: #444;
}
#about a:hover, #about a:active {
  color: #222;
  border-bottom: 1px dotted;
}

#title-wrap {
  position: relative;
}

#search-wrap form {
  margin-bottom: 10px;
}

#about-link, #about-link:hover, #about-link:visited, #about-link:active {
  position: absolute;
  bottom: 4px;
  right: 0;
  color: #aaa;
  padding: 10px;
  text-decoration: none;
}

.emph {
  color: #ff5d15;
}

#about {
  background: #fafafa;
  line-height: 1.25em;
  padding: 10px;
  padding-top: 8px;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
#about p {
  margin: 0;
}
